.card {
    width: 18rem;
}
  
.navbar {
    background-color: #03B5AA;
    margin-bottom: 20px;
}

.intro {
    margin-bottom: 40vh;
}



.intro-img {
    background: no-repeat center;
    height: 50vh; 
    background-size: cover; 
}

.intro-border {
    border: 1px solid #023436;
}

h1 {
    color: #023436;
    text-transform: uppercase;
    text-align: center;
}
