main {
    min-height: calc(87vh - 151px);
}

.card {
    margin: 0 auto;
    margin-bottom: 7vh;
    border: 0;
    box-shadow: 0px 2px 15px 4px #2d8680;
}

.card-size {
    max-width: 20rem;
    min-height: 417px;
    margin-bottom: 5vh;
    /*margin-bottom: 1.5rem;*/
}

.noto-sans-400 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.noto-sans-600 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

/*.card-border {
    border: 3px solid #03635D;
    border-radius: 0.375rem;
    box-shadow: 0px 2px 15px 4px #2d8680;
}*/

.card-button {
    position: absolute;
    bottom: 1rem;
}
  
.navbar {
    background-color: #03B5AA;
    margin-bottom: 5vh;
    /*margin-bottom: 1.5rem;*/
}

.intro {
    margin-bottom: 5vh;
}



.intro-img {
    background: no-repeat center;
    height: 50vh; 
    background-size: cover; 
}

.intro-border {
    border: 1px solid #023436;
}

h1 {
    font-size: 48px;
    color: #023436;
    text-transform: uppercase;
    text-align: center;
}


.advantages {
    background-color: #03b5a9;
    color: white;
   /* padding-top: 2%;*/
    padding-bottom: 1%;
    font-size: 23px;
    
}

.advantages-color {
    background-color: #05a399;
}

.advantages-img {
    fill: white;
    width: 2rem;
    height: 2rem;
    margin-bottom: 2rem;
    
}

.footer {
    background-color: #023436;
}

.border-bottom {
    border-color: #6c757d !important; 
}

.settings-buttons {
    margin-bottom: 20px;
}

.option:focus{
    border-color: #049A8F;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 154, 143, 0.5);
}

.option.invalid,  .option.invalid:focus{
    border-color: red;
    box-shadow: 0 0 0 .25rem red;
}

.textarea-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;    
    text-align: justify;
}

.textarea-text {
    color:rgb(136, 133, 133);
    font-weight: 500;
}

.black {
    color: black;
    font-weight: 500;
}

.btn-prim, .btn-prim:visited {
    background-color: #037971 !important;
    color: white;
}

.btn-prim:hover, .btn-prim:focus {
    background-color: #03635D !important;
    color: white !important;
}

.count-down {
    margin-bottom: 20px;
   /* margin-left: 50%; */
    font-size: 50px;
    font-weight:500;
    color: #023436;
}


.test {
    width: 70vh; 
    border: 3px solid #035c568f;
    border-radius: 0.375rem;
    margin: 0 auto;
}

.timer {
    text-align: center;

    font-size: 25px;
    font-weight: 600;
    color: #03635D;
}

.input-block {
    text-align: center;
    font-size: 25px;
    height: 5vh;
}

.input-block input{
    text-align: center;
    font-size: 25px;
}

.input-block:focus {
    border-color: #049A8F;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 154, 143, 0.5);
}

.square-container{
    width: 300px;
    position: relative;
}

.square {
    border: 2px solid #035c568f;
    cursor: pointer;
    position: relative;
    margin-right: -1px;
    margin-top: -1px;
}

.square-inner{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 35px;
    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.red-point{
    position: absolute;
    width: 15%;
    height: 15%;
    background-color: rgba(255, 0, 0, 0.349);
    border-radius: 50%;
    top: 42.5%;
    left: 42.5%;
}

.red {
    color: red;
}